/*
 A hack for making the Jenkins CI UI ...
*/
html #jenkins {
  background-color: white;
}

html #jenkins a:link {
  text-decoration: none;
}

html #jenkins a:hover {
  text-decoration: underline;
}

html #jenkins #header {
  background-color: #24a0d8;
}

html #jenkins #breadcrumbs {
  background-color: #24a0d8;
}

html #jenkins #breadcrumbs LI {
 background-color: white; 
}

html #jenkins #breadcrumbs LI A:link,
html #jenkins #breadcrumbs LI A:visited {
 color: #111; 
}

html #jenkins #side-panel {
  background-color: #f1f1f1;
}

html #jenkins #side-panel #buildQueue {
  color: #666;
  font-size: 80%;
}

html #jenkins #side-panel #executors {
  color: #666;
  font-size: 80%;
}

html #jenkins #systemmessage {
 background-color: #fab919;
 color: white;
 padding: 10px;
 margin-bottom: 10px;
}

html #jenkins #description {
 display: none;
}

html #jenkins #projectstatus {
  border:none;
}
html #jenkins #projectstatus td {
  font-size: 15px;
}

html #jenkins #projectstatus .header {
  background: #f1f1f1;
}

html #jenkins #projectstatus tr.job-status-aborted {
}

html #jenkins #projectstatus tr.job-status-nobuilt td img {
  display: none;
}

html #jenkins #projectstatus tr td .build-health-link img {
  display: inline-block;
}

html #jenkins #projectstatus tr.job-status-disabled td a.model-link {
  color: #aaa;
}

html #jenkins #projectstatus tr.job-status-disabled td img {
  display: none;
}

html #jenkins #projectstatus tr.job-status-red {
  background-color: #e4363e;
  border-top: 1px solid #e88f93;
  color: #fff;
}

html #jenkins #projectstatus tr.job-status-red td a.model-link {
  color: #fff;
}

html #jenkins #projectstatus tr.job-status-blue img {
  display: none;
}

html #jenkins #projectstatus tr td a.model-link {
  color: #666;
}


html #jenkins #projectstatus tr td a:first-child {
    font-size: 15px;
    text-decoration: none;
    color: #24a0d8;
}

html #jenkins form[action="doRename"] {
 padding: 10px;
 background-color: #d85497;
 color: #fff;
}

html #jenkins footer {
  display: none;
}

html #jenkins .setting-main .setting-input[name="name"] {
  font-size: 1.6em;
  border: none;
  box-shadow: none;
  color: #98ad29;
  font-weight: bold;
  padding: 0px;
}

html #jenkins  form[name="createItem"] .setting-main .setting-input[name="name"] {
  font-size: 1.6em;
  box-shadow: 1px 1px 4px #666 inset;
  background-color: #98ad29;
  color: #fff;
  font-weight: normal;
  padding: 8px;
}

html #jenkins .yui-button.primary button {
 background-color: #b0c92b;
 color: #fff;
 border-color: #95a92d;
}

html #jenkins #disable-project .yui-button.primary button {
 background-color: #f0a4a7;
 color: #111;
 border-color: #cf7f83;
}
